body {
  color: #282828;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1em;
}
a {
  color: #005eb8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h2 {
  color: #282828;
  display: block;
  font: 18px 'AkkuratProRegular', Arial, sans-serif;
  height: 23px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 615px;
}
#performaceTabs {
  color: #282828;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 14px;
  height: 77px;
  line-height: 14px;
  width: 615px;
}
.component-tabs {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 2px;
  height: 34px;
  margin-bottom: 5px;
  overflow: hidden;
}
.component-tabs li.active a {
  background-color: #fff;
  color: #000;
  cursor: default;
  text-decoration: none;
  background: url("http://assets.blackrock.com/blk-one-assets/cache-1427401038000/include/common/css/product/i/icon-arrow-up.gif") no-repeat scroll center bottom #fff;
}
.component-tabs li {
  float: left;
  list-style: none outside none;
  line-height: 1.5em;
}
.component-tabs li a {
  border-color: #ccc;
  border-style: solid;
  border-width: 0 1px 0 0;
  display: block;
  font-size: 1.2em;
  height: 20px;
  outline: 0 none;
  padding: 7px 12px;
  white-space: nowrap;
}
.component-tabs-panel {
  background: transparent;
  padding-bottom: 10px;
  clear: both;
}
#featuredProducts .component-tabs-panel ul {
  float: left;
  clear: both;
}
.component-tabs-panel.chart-table {
  font-size: 0.85em;
  margin-top: 20px;
}
.component-tabs-panel {
  border: 0px none;
  display: none;
  position: relative;
  background-color: #fff;
}
.component-tabs-panel.active {
  display: block;
}
.component-tabs.sub-tabs {
  margin-top: 0;
  border-width: 0px 0px 1px;
  float: right;
  height: 24px;
  margin-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
}
.component-tabs.sub-tabs li {
  margin-right: 5px;
}
.component-tabs li a,
.component-tabs li span.mixed-asset-tab {
  border-color: #ccc;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  display: block;
  font-size: 1.2em;
  height: 20px;
  outline: none 0px;
  padding: 7px 12px;
  white-space: nowrap;
}
.component-tabs.sub-tabs li a {
  font-size: 0.9em;
  padding: 2px 5px 2px 0px;
}
.component-tabs li:last-child a {
  border: 0px;
  padding-right: 0px;
}
.component-tabs li.active a {
  color: #000;
  background: url("http://assets.blackrock.com/blk-one-assets/cache-1427401038000/include/common/css/product/i/icon-arrow-up.gif") 50% 100% no-repeat scroll #fff;
}
.component-tabs li.active a,
.component-tabs li.active a:hover {
  color: #000;
  cursor: default;
  text-decoration: none;
  background-color: #fff;
}
.component-tabs.sub-tabs li.active a {
  font-weight: bold;
}
#gkc_TABLE_1 {
  border-collapse: collapse;
  color: #282828;
  height: 181px;
  -webkit-perspective-origin: 307.5px 90.5px;
  -ms-perspective-origin: 307.5px 90.5px;
  perspective-origin: 307.5px 90.5px;
  -webkit-transform-origin: 307.5px 90.5px;
  -ms-transform-origin: 307.5px 90.5px;
  transform-origin: 307.5px 90.5px;
  border: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/14px Arial, sans-serif;
  margin: 10px 0px 0px;
  outline: #282828 none 0px;
}
#gkc_THEAD_2 {
  border-collapse: collapse;
  color: #282828;
  height: 20px;
  width: 615px;
  -webkit-perspective-origin: 307.5px 10px;
  -ms-perspective-origin: 307.5px 10px;
  perspective-origin: 307.5px 10px;
  -webkit-transform-origin: 307.5px 10px;
  -ms-transform-origin: 307.5px 10px;
  transform-origin: 307.5px 10px;
  border: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#gkc_TR_3 {
  border-collapse: collapse;
  color: #282828;
  height: 20px;
  vertical-align: middle;
  width: 615px;
  -webkit-perspective-origin: 307.5px 10px;
  -ms-perspective-origin: 307.5px 10px;
  perspective-origin: 307.5px 10px;
  -webkit-transform-origin: 307.5px 10px;
  -ms-transform-origin: 307.5px 10px;
  transform-origin: 307.5px 10px;
  border: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#gkc_TH_4 {
  border-collapse: collapse;
  color: #282828;
  height: 14px;
  text-align: right;
  vertical-align: middle;
  width: 275px;
  -webkit-perspective-origin: 137.5px 10px;
  -ms-perspective-origin: 137.5px 10px;
  perspective-origin: 137.5px 10px;
  -webkit-transform-origin: 137.5px 10px;
  -ms-transform-origin: 137.5px 10px;
  transform-origin: 137.5px 10px;
  border-top: 0px none #282828;
  border-right: 0px none #282828;
  border-bottom: 1px solid #ccc;
  border-left: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal bold normal 12px/14px Arial, sans-serif;
  outline: #282828 none 0px;
  padding: 3px 0px;
}
#gkc_TH_5,
#gkc_TH_6 {
  border-collapse: collapse;
  color: #282828;
  height: 14px;
  text-align: right;
  vertical-align: middle;
  width: 66px;
  -webkit-perspective-origin: 33px 10px;
  -ms-perspective-origin: 33px 10px;
  perspective-origin: 33px 10px;
  -webkit-transform-origin: 33px 10px;
  -ms-transform-origin: 33px 10px;
  transform-origin: 33px 10px;
  border-top: 0px none #282828;
  border-right: 0px none #282828;
  border-bottom: 1px solid #ccc;
  border-left: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal bold normal 12px/14px Arial, sans-serif;
  outline: #282828 none 0px;
  padding: 3px 0px;
}
#gkc_TH_7 {
  border-collapse: collapse;
  color: #282828;
  height: 14px;
  text-align: right;
  vertical-align: middle;
  width: 66px;
  -webkit-perspective-origin: 33px 10px;
  -ms-perspective-origin: 33px 10px;
  perspective-origin: 33px 10px;
  -webkit-transform-origin: 33px 10px;
  -ms-transform-origin: 33px 10px;
  transform-origin: 33px 10px;
  border-top: 0px none #282828;
  border-right: 0px none #282828;
  border-bottom: 1px solid #ccc;
  border-left: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal bold normal 12px/14px Arial, sans-serif;
  outline: #282828 none 0px;
  padding: 3px 0px;
}
#gkc_TH_8 {
  border-collapse: collapse;
  color: #282828;
  height: 14px;
  text-align: right;
  vertical-align: middle;
  width: 56px;
  -webkit-perspective-origin: 28px 10px;
  -ms-perspective-origin: 28px 10px;
  perspective-origin: 28px 10px;
  -webkit-transform-origin: 28px 10px;
  -ms-transform-origin: 28px 10px;
  transform-origin: 28px 10px;
  border-top: 0px none #282828;
  border-right: 0px none #282828;
  border-bottom: 1px solid #ccc;
  border-left: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal bold normal 12px/14px Arial, sans-serif;
  outline: #282828 none 0px;
  padding: 3px 0px;
}
#gkc_TH_9 {
  border-collapse: collapse;
  color: #282828;
  height: 14px;
  text-align: right;
  vertical-align: middle;
  width: 86px;
  -webkit-perspective-origin: 43px 10px;
  -ms-perspective-origin: 43px 10px;
  perspective-origin: 43px 10px;
  -webkit-transform-origin: 43px 10px;
  -ms-transform-origin: 43px 10px;
  transform-origin: 43px 10px;
  border-top: 0px none #282828;
  border-right: 0px none #282828;
  border-bottom: 1px solid #ccc;
  border-left: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal bold normal 12px/14px Arial, sans-serif;
  outline: #282828 none 0px;
  padding: 3px 0px;
}
#gkc_A_10 {
  background-position: 0px -617px;
  border-collapse: collapse;
  color: #005eb8;
  text-align: right;
  text-decoration: none;
  background: rgba(0,0,0,0) url("http://assets.blackrock.com/blk-one-assets/cache-1427479100000/include/common/css/blk/i/sprite_icons.png") no-repeat scroll 0px -617px/auto padding-box border-box;
  border: 0px none #005eb8;
  border-spacing: 2px 2px;
  font: normal normal bold normal 12px/14px Arial, sans-serif;
  outline: #005eb8 none 0px;
  padding: 0px 0px 0px 10px;
}
#gkc_TBODY_11 {
  border-collapse: collapse;
  color: #282828;
  height: 161px;
  width: 615px;
  -webkit-perspective-origin: 307.5px 80.5px;
  -ms-perspective-origin: 307.5px 80.5px;
  perspective-origin: 307.5px 80.5px;
  -webkit-transform-origin: 307.5px 80.5px;
  -ms-transform-origin: 307.5px 80.5px;
  transform-origin: 307.5px 80.5px;
  border: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#gkc_TR_12 {
  border-collapse: collapse;
  color: #282828;
  height: 31px;
  vertical-align: middle;
  width: 615px;
  -webkit-perspective-origin: 307.5px 15.5px;
  -ms-perspective-origin: 307.5px 15.5px;
  perspective-origin: 307.5px 15.5px;
  -webkit-transform-origin: 307.5px 15.5px;
  -ms-transform-origin: 307.5px 15.5px;
  transform-origin: 307.5px 15.5px;
  border: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#gkc_TD_13 {
  border-collapse: collapse;
  color: #282828;
  height: 30px;
  text-align: left;
  vertical-align: middle;
  width: 275px;
  -webkit-perspective-origin: 137.5px 15.5px;
  -ms-perspective-origin: 137.5px 15.5px;
  perspective-origin: 137.5px 15.5px;
  -webkit-transform-origin: 137.5px 15.5px;
  -ms-transform-origin: 137.5px 15.5px;
  transform-origin: 137.5px 15.5px;
  border: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#gkc_A_14,
#gkc_A_22,
#gkc_A_30,
#gkc_A_39,
#gkc_A_48 {
  background-position: 0px -617px;
  border-collapse: collapse;
  color: #005eb8;
  text-align: left;
  text-decoration: none;
  background: rgba(0,0,0,0) url("http://assets.blackrock.com/blk-one-assets/cache-1427479100000/include/common/css/blk/i/sprite_icons.png") no-repeat scroll 0px -617px/auto padding-box border-box;
  border: 0px none #005eb8;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/14px Arial, sans-serif;
  outline: #005eb8 none 0px;
  padding: 0px 0px 0px 10px;
}
#gkc_TD_15,
#gkc_TD_16 {
  border-collapse: collapse;
  color: #282828;
  height: 30px;
  text-align: right;
  vertical-align: middle;
  width: 66px;
  -webkit-perspective-origin: 33px 15.5px;
  -ms-perspective-origin: 33px 15.5px;
  perspective-origin: 33px 15.5px;
  -webkit-transform-origin: 33px 15.5px;
  -ms-transform-origin: 33px 15.5px;
  transform-origin: 33px 15.5px;
  border: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#gkc_TD_17 {
  border-collapse: collapse;
  color: #282828;
  height: 30px;
  text-align: right;
  vertical-align: middle;
  width: 66px;
  -webkit-perspective-origin: 33px 15.5px;
  -ms-perspective-origin: 33px 15.5px;
  perspective-origin: 33px 15.5px;
  -webkit-transform-origin: 33px 15.5px;
  -ms-transform-origin: 33px 15.5px;
  transform-origin: 33px 15.5px;
  border: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#gkc_TD_18 {
  border-collapse: collapse;
  color: #282828;
  height: 30px;
  text-align: right;
  vertical-align: middle;
  width: 56px;
  -webkit-perspective-origin: 28px 15.5px;
  -ms-perspective-origin: 28px 15.5px;
  perspective-origin: 28px 15.5px;
  -webkit-transform-origin: 28px 15.5px;
  -ms-transform-origin: 28px 15.5px;
  transform-origin: 28px 15.5px;
  border: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#gkc_TD_19 {
  border-collapse: collapse;
  color: #282828;
  height: 30px;
  text-align: right;
  vertical-align: middle;
  width: 86px;
  -webkit-perspective-origin: 43px 15.5px;
  -ms-perspective-origin: 43px 15.5px;
  perspective-origin: 43px 15.5px;
  -webkit-transform-origin: 43px 15.5px;
  -ms-transform-origin: 43px 15.5px;
  transform-origin: 43px 15.5px;
  border: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#gkc_TR_20,
#gkc_TR_46 {
  border-collapse: collapse;
  color: #282828;
  height: 30px;
  vertical-align: middle;
  width: 615px;
  -webkit-perspective-origin: 307.5px 15px;
  -ms-perspective-origin: 307.5px 15px;
  perspective-origin: 307.5px 15px;
  -webkit-transform-origin: 307.5px 15px;
  -ms-transform-origin: 307.5px 15px;
  transform-origin: 307.5px 15px;
  border: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#gkc_TD_21,
#gkc_TD_47 {
  border-collapse: collapse;
  color: #282828;
  height: 30px;
  text-align: left;
  vertical-align: middle;
  width: 275px;
  -webkit-perspective-origin: 137.5px 15px;
  -ms-perspective-origin: 137.5px 15px;
  perspective-origin: 137.5px 15px;
  -webkit-transform-origin: 137.5px 15px;
  -ms-transform-origin: 137.5px 15px;
  transform-origin: 137.5px 15px;
  border: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#gkc_TD_23,
#gkc_TD_24,
#gkc_TD_49,
#gkc_TD_51 {
  border-collapse: collapse;
  color: #282828;
  height: 30px;
  text-align: right;
  vertical-align: middle;
  width: 66px;
  -webkit-perspective-origin: 33px 15px;
  -ms-perspective-origin: 33px 15px;
  perspective-origin: 33px 15px;
  -webkit-transform-origin: 33px 15px;
  -ms-transform-origin: 33px 15px;
  transform-origin: 33px 15px;
  border: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#gkc_TD_25,
#gkc_TD_50 {
  border-collapse: collapse;
  color: #282828;
  height: 30px;
  text-align: right;
  vertical-align: middle;
  width: 66px;
  -webkit-perspective-origin: 33px 15px;
  -ms-perspective-origin: 33px 15px;
  perspective-origin: 33px 15px;
  -webkit-transform-origin: 33px 15px;
  -ms-transform-origin: 33px 15px;
  transform-origin: 33px 15px;
  border: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#gkc_TD_26,
#gkc_TD_52 {
  border-collapse: collapse;
  color: #282828;
  height: 30px;
  text-align: right;
  vertical-align: middle;
  width: 56px;
  -webkit-perspective-origin: 28px 15px;
  -ms-perspective-origin: 28px 15px;
  perspective-origin: 28px 15px;
  -webkit-transform-origin: 28px 15px;
  -ms-transform-origin: 28px 15px;
  transform-origin: 28px 15px;
  border: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#gkc_TD_27,
#gkc_TD_53 {
  border-collapse: collapse;
  color: #282828;
  height: 30px;
  text-align: right;
  vertical-align: middle;
  width: 86px;
  -webkit-perspective-origin: 43px 15px;
  -ms-perspective-origin: 43px 15px;
  perspective-origin: 43px 15px;
  -webkit-transform-origin: 43px 15px;
  -ms-transform-origin: 43px 15px;
  transform-origin: 43px 15px;
  border: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#gkc_TR_28,
#gkc_TR_37 {
  border-collapse: collapse;
  color: #282828;
  height: 35px;
  vertical-align: middle;
  width: 615px;
  -webkit-perspective-origin: 307.5px 17.5px;
  -ms-perspective-origin: 307.5px 17.5px;
  perspective-origin: 307.5px 17.5px;
  -webkit-transform-origin: 307.5px 17.5px;
  -ms-transform-origin: 307.5px 17.5px;
  transform-origin: 307.5px 17.5px;
  border: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#gkc_TD_29,
#gkc_TD_38 {
  border-collapse: collapse;
  color: #282828;
  height: 35px;
  text-align: left;
  vertical-align: middle;
  width: 275px;
  -webkit-perspective-origin: 137.5px 17.5px;
  -ms-perspective-origin: 137.5px 17.5px;
  perspective-origin: 137.5px 17.5px;
  -webkit-transform-origin: 137.5px 17.5px;
  -ms-transform-origin: 137.5px 17.5px;
  transform-origin: 137.5px 17.5px;
  border: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#gkc_P_31,
#gkc_P_40 {
  border-collapse: collapse;
  color: #888;
  height: 16px;
  text-align: left;
  width: 275px;
  -webkit-perspective-origin: 137.5px 10.5px;
  -ms-perspective-origin: 137.5px 10.5px;
  perspective-origin: 137.5px 10.5px;
  -webkit-transform-origin: 137.5px 10.5px;
  -ms-transform-origin: 137.5px 10.5px;
  transform-origin: 137.5px 10.5px;
  border: 0px none #888;
  border-spacing: 2px 2px;
  font: normal normal normal normal 10.8000001907349px/16.2000007629395px Arial, sans-serif;
  margin: 0px;
  outline: #888 none 0px;
  padding: 0px 0px 5px;
}
#gkc_TD_32,
#gkc_TD_33,
#gkc_TD_41,
#gkc_TD_43 {
  border-collapse: collapse;
  color: #282828;
  height: 35px;
  text-align: right;
  vertical-align: middle;
  width: 66px;
  -webkit-perspective-origin: 33px 17.5px;
  -ms-perspective-origin: 33px 17.5px;
  perspective-origin: 33px 17.5px;
  -webkit-transform-origin: 33px 17.5px;
  -ms-transform-origin: 33px 17.5px;
  transform-origin: 33px 17.5px;
  border: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#gkc_TD_34,
#gkc_TD_42 {
  border-collapse: collapse;
  color: #282828;
  height: 35px;
  text-align: right;
  vertical-align: middle;
  width: 66px;
  -webkit-perspective-origin: 33px 17.5px;
  -ms-perspective-origin: 33px 17.5px;
  perspective-origin: 33px 17.5px;
  -webkit-transform-origin: 33px 17.5px;
  -ms-transform-origin: 33px 17.5px;
  transform-origin: 33px 17.5px;
  border: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#gkc_TD_35,
#gkc_TD_44 {
  border-collapse: collapse;
  color: #282828;
  height: 35px;
  text-align: right;
  vertical-align: middle;
  width: 56px;
  -webkit-perspective-origin: 28px 17.5px;
  -ms-perspective-origin: 28px 17.5px;
  perspective-origin: 28px 17.5px;
  -webkit-transform-origin: 28px 17.5px;
  -ms-transform-origin: 28px 17.5px;
  transform-origin: 28px 17.5px;
  border: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#gkc_TD_36,
#gkc_TD_45 {
  border-collapse: collapse;
  color: #282828;
  height: 35px;
  text-align: right;
  vertical-align: middle;
  width: 86px;
  -webkit-perspective-origin: 43px 17.5px;
  -ms-perspective-origin: 43px 17.5px;
  perspective-origin: 43px 17.5px;
  -webkit-transform-origin: 43px 17.5px;
  -ms-transform-origin: 43px 17.5px;
  transform-origin: 43px 17.5px;
  border: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#gkcc-DIV_1 {
  color: #282828;
  float: right;
  height: 25px;
  position: relative;
  width: 166px;
  -webkit-perspective-origin: 83px 12.5px;
  -ms-perspective-origin: 83px 12.5px;
  perspective-origin: 83px 12.5px;
  -webkit-transform-origin: 83px 12.5px;
  -ms-transform-origin: 83px 12.5px;
  transform-origin: 83px 12.5px;
  border: 0px none #282828;
  font: normal normal normal normal 14px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#gkccc-LABEL_2 {
  background-position: 144px -1828px;
  color: #282828;
  cursor: pointer;
  display: block;
  height: 14px;
  width: 150px;
  -webkit-perspective-origin: 83px 13px;
  -ms-perspective-origin: 83px 13px;
  perspective-origin: 83px 13px;
  -webkit-transform-origin: 83px 13px;
  -ms-transform-origin: 83px 13px;
  transform-origin: 83px 13px;
  background: #fff url("http://assets.blackrock.com/blk-one-assets/cache-1430839164000/include/common/css/blk/i/sprite_icons.png") no-repeat scroll 144px -1828px/auto padding-box border-box;
  border-top: 1px solid #abadb3;
  border-right: 1px solid #dbdfe6;
  border-bottom: 1px solid #e3e9ef;
  border-left: 1px solid #e2e3ea;
  font: normal normal normal normal 12px/normal Arial;
  outline: #282828 none 0px;
  padding: 5px 7px;
}
#gkccc-UL_3 {
  color: #282828;
  display: none;
  height: auto;
  max-height: 420px;
  position: absolute;
  top: 23px;
  width: 150px;
  z-index: 100;
  -webkit-align-self: stretch;
          align-self: stretch;
  -ms-flex-item-align: stretch;
  -webkit-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  background: #fff none repeat scroll 0% 0%/auto padding-box border-box;
  border-top: 0px solid #abadb3;
  border-right: 1px solid #dbdfe6;
  border-bottom: 1px solid #e3e9ef;
  border-left: 1px solid #e2e3ea;
  font: normal normal normal normal 14px/14px Arial, sans-serif;
  list-style: none outside none;
  margin: 0px;
  outline: #282828 none 0px;
  overflow: auto;
  padding: 5px 7px;
}
#gkccc-LI_4,
#gkccc-LI_8,
#gkccc-LI_12,
#gkccc-LI_16,
#gkccc-LI_20,
#gkccc-LI_24,
#gkccc-LI_28,
#gkccc-LI_32 {
  color: #282828;
  display: block;
  height: auto;
  width: auto;
  -webkit-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  border: 0px none #282828;
  font: normal normal normal normal 12px/normal Arial;
  list-style: none outside none;
  outline: #282828 none 0px;
  padding: 0px 0px 5px;
}
#gkccc-LABEL_5,
#gkccc-LABEL_9,
#gkccc-LABEL_13,
#gkccc-LABEL_17,
#gkccc-LABEL_21,
#gkccc-LABEL_25,
#gkccc-LABEL_29,
#gkccc-LABEL_33 {
  color: #282828;
  text-align: left;
  -webkit-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  border: 0px none #282828;
  font: normal normal normal normal 12px/normal Arial;
  list-style: none outside none;
  outline: #282828 none 0px;
}
#gkccc-INPUT_6,
#gkccc-INPUT_10,
#gkccc-INPUT_14,
#gkccc-INPUT_18,
#gkccc-INPUT_22,
#gkccc-INPUT_26,
#gkccc-INPUT_30,
#gkccc-INPUT_34 {
  height: 12px;
  vertical-align: top;
  width: 12px;
  -webkit-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  background: rgba(0,0,0,0) none repeat scroll 0% 0%/auto padding-box border-box;
  border: 0px none #000;
  list-style: none outside none;
  padding: 0px;
}
#gkccc-SPAN_7,
#gkccc-SPAN_11,
#gkccc-SPAN_19,
#gkccc-SPAN_27,
#gkccc-SPAN_35 {
  color: #282828;
  cursor: default;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 115px;
  -webkit-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  border: 0px none #282828;
  font: normal normal normal normal 12px/normal Arial;
  list-style: none outside none;
  outline: #282828 none 0px;
}
#gkccc-SPAN_15,
#gkccc-SPAN_23 {
  color: #282828;
  cursor: default;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 115px;
  -webkit-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  border: 0px none #282828;
  font: normal normal normal normal 12px/normal Arial;
  list-style: none outside none;
  outline: #282828 none 0px;
}
#gkccc-SPAN_31 {
  color: #282828;
  cursor: default;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 115px;
  -webkit-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  border: 0px none #282828;
  font: normal normal normal normal 12px/normal Arial;
  list-style: none outside none;
  outline: #282828 none 0px;
}
#pd-DIV_1 {
  color: #282828;
  height: 446px;
  position: relative;
  width: 612px;
  -webkit-perspective-origin: 307.5px 223px;
  -ms-perspective-origin: 307.5px 223px;
  perspective-origin: 307.5px 223px;
  -webkit-transform-origin: 307.5px 223px;
  -ms-transform-origin: 307.5px 223px;
  transform-origin: 307.5px 223px;
  border: 0px none #282828;
  font: normal normal normal normal 14px/14px Arial, sans-serif;
  outline: #282828 none 0px;
  padding: 0px 0px 0px 3px;
}
#pd-DIV_1:after {
  border-collapse: collapse;
  clear: both;
  color: #282828;
  display: table;
  width: 1px;
  -webkit-perspective-origin: 0.5px 0px;
  -ms-perspective-origin: 0.5px 0px;
  perspective-origin: 0.5px 0px;
  -webkit-transform-origin: 0.5px 0px;
  -ms-transform-origin: 0.5px 0px;
  transform-origin: 0.5px 0px;
  content: '';
  border: 0px none #282828;
  font: normal normal normal normal 14px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-DIV_1:before {
  border-collapse: collapse;
  color: #282828;
  display: table;
  width: 1px;
  -webkit-perspective-origin: 0.5px 0px;
  -ms-perspective-origin: 0.5px 0px;
  perspective-origin: 0.5px 0px;
  -webkit-transform-origin: 0.5px 0px;
  -ms-transform-origin: 0.5px 0px;
  transform-origin: 0.5px 0px;
  content: '';
  border: 0px none #282828;
  font: normal normal normal normal 14px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-DIV_2 {
  color: #282828;
  width: 612px;
  -webkit-perspective-origin: 306px 10px;
  -ms-perspective-origin: 306px 10px;
  perspective-origin: 306px 10px;
  -webkit-transform-origin: 306px 10px;
  -ms-transform-origin: 306px 10px;
  transform-origin: 306px 10px;
  border: 0px none #282828;
  font: normal normal normal normal 14px/14px Arial, sans-serif;
  margin: 10px 0px 75px;
  outline: #282828 none 0px;
  padding: 0px 0px 20px;
}
#pd-DIV_3,
#pd-DIV_9,
#pd-DIV_15,
#pd-DIV_27 {
  color: #282828;
  float: left;
  height: 50px;
  width: 122.390625px;
  -webkit-perspective-origin: 61.1875px 25px;
  -ms-perspective-origin: 61.1875px 25px;
  perspective-origin: 61.1875px 25px;
  -webkit-transform-origin: 61.1875px 25px;
  -ms-transform-origin: 61.1875px 25px;
  transform-origin: 61.1875px 25px;
  border: 0px none #282828;
  font: normal normal normal normal 20px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-SPAN_4,
#pd-SPAN_10,
#pd-SPAN_16,
#pd-SPAN_22,
#pd-SPAN_28 {
  color: #282828;
  border: 0px none #282828;
  font: normal normal normal normal 20px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-P_5,
#pd-P_7,
#pd-P_11,
#pd-P_13,
#pd-P_17,
#pd-P_19,
#pd-P_25,
#pd-P_29,
#pd-P_31 {
  color: #5a5a5a;
  height: 18px;
  width: 122.390625px;
  -webkit-perspective-origin: 61.1875px 9px;
  -ms-perspective-origin: 61.1875px 9px;
  perspective-origin: 61.1875px 9px;
  -webkit-transform-origin: 61.1875px 9px;
  -ms-transform-origin: 61.1875px 9px;
  transform-origin: 61.1875px 9px;
  border: 0px none #5a5a5a;
  font: normal normal normal normal 12px/18px Arial, sans-serif;
  margin: 0px;
  outline: #5a5a5a none 0px;
}
#pd-A_6,
#pd-A_12,
#pd-A_18,
#pd-A_24,
#pd-A_30 {
  background-position: 0px -617px;
  color: #005eb8;
  text-decoration: none;
  background: rgba(0,0,0,0) url("http://assets.blackrock.com/blk-one-assets/cache-1432957948000/include/common/css/blk/i/sprite_icons.png") no-repeat scroll 0px -617px/auto padding-box border-box;
  border: 0px none #005eb8;
  font: normal normal normal normal 12px/18px Arial, sans-serif;
  outline: #005eb8 none 0px;
  padding: 0px 0px 0px 10px;
}
#pd-P_8,
#pd-P_14,
#pd-P_26 {
  color: #282828;
  width: 122.390625px;
  -webkit-perspective-origin: 61.1875px 0px;
  -ms-perspective-origin: 61.1875px 0px;
  perspective-origin: 61.1875px 0px;
  -webkit-transform-origin: 61.1875px 0px;
  -ms-transform-origin: 61.1875px 0px;
  transform-origin: 61.1875px 0px;
  border: 0px none #282828;
  font: normal normal normal normal 20px/30px Arial, sans-serif;
  margin: 0px;
  outline: #282828 none 0px;
}
#pd-P_20,
#pd-P_32 {
  color: #282828;
  width: 122.390625px;
  -webkit-perspective-origin: 61.1875px 0px;
  -ms-perspective-origin: 61.1875px 0px;
  perspective-origin: 61.1875px 0px;
  -webkit-transform-origin: 61.1875px 0px;
  -ms-transform-origin: 61.1875px 0px;
  transform-origin: 61.1875px 0px;
  border: 0px none #282828;
  font: normal normal normal normal 20px/30px Arial, sans-serif;
  margin: 0px;
  outline: #282828 none 0px;
}
#pd-DIV_21 {
  color: #282828;
  float: left;
  height: 68px;
  width: 122.390625px;
  -webkit-perspective-origin: 61.1875px 34px;
  -ms-perspective-origin: 61.1875px 34px;
  perspective-origin: 61.1875px 34px;
  -webkit-transform-origin: 61.1875px 34px;
  -ms-transform-origin: 61.1875px 34px;
  transform-origin: 61.1875px 34px;
  border: 0px none #282828;
  font: normal normal normal normal 20px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-P_23 {
  color: #5a5a5a;
  height: 36px;
  width: 122.390625px;
  -webkit-perspective-origin: 61.1875px 18px;
  -ms-perspective-origin: 61.1875px 18px;
  perspective-origin: 61.1875px 18px;
  -webkit-transform-origin: 61.1875px 18px;
  -ms-transform-origin: 61.1875px 18px;
  transform-origin: 61.1875px 18px;
  border: 0px none #5a5a5a;
  font: normal normal normal normal 12px/18px Arial, sans-serif;
  margin: 0px;
  outline: #5a5a5a none 0px;
}
#pd-DIV_33 {
  color: #282828;
  float: left;
  height: 124px;
  width: 275.390625px;
  -webkit-perspective-origin: 137.6875px 62px;
  -ms-perspective-origin: 137.6875px 62px;
  perspective-origin: 137.6875px 62px;
  -webkit-transform-origin: 137.6875px 62px;
  -ms-transform-origin: 137.6875px 62px;
  transform-origin: 137.6875px 62px;
  border: 0px none #282828;
  font: normal normal normal normal 14px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-TABLE_34 {
  border-collapse: collapse;
  color: #282828;
  height: 124px;
  width: 275px;
  -webkit-perspective-origin: 137.5px 62px;
  -ms-perspective-origin: 137.5px 62px;
  perspective-origin: 137.5px 62px;
  -webkit-transform-origin: 137.5px 62px;
  -ms-transform-origin: 137.5px 62px;
  transform-origin: 137.5px 62px;
  border: 0px none #282828;
  font: normal normal normal normal 14px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-TBODY_35 {
  border-collapse: collapse;
  color: #282828;
  height: 124px;
  width: 275px;
  -webkit-perspective-origin: 137.5px 62px;
  -ms-perspective-origin: 137.5px 62px;
  perspective-origin: 137.5px 62px;
  -webkit-transform-origin: 137.5px 62px;
  -ms-transform-origin: 137.5px 62px;
  transform-origin: 137.5px 62px;
  border: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal normal normal 14px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-TR_36,
#pd-TR_41 {
  border-collapse: collapse;
  color: #282828;
  height: 39px;
  vertical-align: middle;
  width: 275px;
  -webkit-perspective-origin: 137.5px 19.5px;
  -ms-perspective-origin: 137.5px 19.5px;
  perspective-origin: 137.5px 19.5px;
  -webkit-transform-origin: 137.5px 19.5px;
  -ms-transform-origin: 137.5px 19.5px;
  transform-origin: 137.5px 19.5px;
  border: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal normal normal 14px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-TD_37,
#pd-TD_42 {
  border-collapse: collapse;
  color: #5a5a5a;
  height: 30px;
  vertical-align: top;
  width: 151px;
  -webkit-perspective-origin: 75.5px 19.5px;
  -ms-perspective-origin: 75.5px 19.5px;
  perspective-origin: 75.5px 19.5px;
  -webkit-transform-origin: 75.5px 19.5px;
  -ms-transform-origin: 75.5px 19.5px;
  transform-origin: 75.5px 19.5px;
  border: 0px none #5a5a5a;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/normal Arial;
  outline: #5a5a5a none 0px;
  padding: 5px 0px 4px;
}
#pd-A_38,
#pd-A_43,
#pd-A_66,
#pd-A_70,
#pd-A_74 {
  background-position: 0px -617px;
  border-collapse: collapse;
  color: #005eb8;
  text-decoration: none;
  background: rgba(0,0,0,0) url("http://assets.blackrock.com/blk-one-assets/cache-1432957948000/include/common/css/blk/i/sprite_icons.png") no-repeat scroll 0px -617px/auto padding-box border-box;
  border: 0px none #005eb8;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/normal Arial;
  outline: #005eb8 none 0px;
  padding: 0px 0px 0px 10px;
}
#pd-P_39,
#pd-P_44 {
  border-collapse: collapse;
  color: #5a5a5a;
  height: 16px;
  width: 151px;
  -webkit-perspective-origin: 75.5px 8px;
  -ms-perspective-origin: 75.5px 8px;
  perspective-origin: 75.5px 8px;
  -webkit-transform-origin: 75.5px 8px;
  -ms-transform-origin: 75.5px 8px;
  transform-origin: 75.5px 8px;
  border: 0px none #5a5a5a;
  border-spacing: 2px 2px;
  font: normal normal normal normal 10.8000001907349px/16.2000007629395px Arial;
  margin: 0px;
  outline: #5a5a5a none 0px;
}
#pd-TD_40,
#pd-TD_45 {
  border-collapse: collapse;
  color: #5a5a5a;
  height: 30px;
  text-align: right;
  vertical-align: top;
  width: 124px;
  -webkit-perspective-origin: 62px 19.5px;
  -ms-perspective-origin: 62px 19.5px;
  perspective-origin: 62px 19.5px;
  -webkit-transform-origin: 62px 19.5px;
  -ms-transform-origin: 62px 19.5px;
  transform-origin: 62px 19.5px;
  border: 0px none #5a5a5a;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/normal Arial;
  outline: #5a5a5a none 0px;
  padding: 5px 0px 4px;
}
#pd-TR_46,
#pd-TR_49,
#pd-TR_64,
#pd-TR_68,
#pd-TR_72 {
  border-collapse: collapse;
  color: #282828;
  height: 23px;
  vertical-align: middle;
  width: 275px;
  -webkit-perspective-origin: 137.5px 11.5px;
  -ms-perspective-origin: 137.5px 11.5px;
  perspective-origin: 137.5px 11.5px;
  -webkit-transform-origin: 137.5px 11.5px;
  -ms-transform-origin: 137.5px 11.5px;
  transform-origin: 137.5px 11.5px;
  border: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal normal normal 14px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-TD_47,
#pd-TD_50,
#pd-TD_65,
#pd-TD_69,
#pd-TD_73 {
  border-collapse: collapse;
  color: #5a5a5a;
  height: 14px;
  vertical-align: top;
  width: 151px;
  -webkit-perspective-origin: 75.5px 11.5px;
  -ms-perspective-origin: 75.5px 11.5px;
  perspective-origin: 75.5px 11.5px;
  -webkit-transform-origin: 75.5px 11.5px;
  -ms-transform-origin: 75.5px 11.5px;
  transform-origin: 75.5px 11.5px;
  border: 0px none #5a5a5a;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/normal Arial;
  outline: #5a5a5a none 0px;
  padding: 5px 0px 4px;
}
#pd-TD_48,
#pd-TD_51,
#pd-TD_67,
#pd-TD_75 {
  border-collapse: collapse;
  color: #5a5a5a;
  height: 14px;
  text-align: right;
  vertical-align: top;
  width: 124px;
  -webkit-perspective-origin: 62px 11.5px;
  -ms-perspective-origin: 62px 11.5px;
  perspective-origin: 62px 11.5px;
  -webkit-transform-origin: 62px 11.5px;
  -ms-transform-origin: 62px 11.5px;
  transform-origin: 62px 11.5px;
  border: 0px none #5a5a5a;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/normal Arial;
  outline: #5a5a5a none 0px;
  padding: 5px 0px 4px;
}
#pd-DIV_52 {
  color: #282828;
  float: right;
  height: 108px;
  width: 275.390625px;
  -webkit-perspective-origin: 137.6875px 54px;
  -ms-perspective-origin: 137.6875px 54px;
  perspective-origin: 137.6875px 54px;
  -webkit-transform-origin: 137.6875px 54px;
  -ms-transform-origin: 137.6875px 54px;
  transform-origin: 137.6875px 54px;
  border: 0px none #282828;
  font: normal normal normal normal 14px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-DIV_53 {
  color: #282828;
  height: 18px;
  width: 275.390625px;
  -webkit-perspective-origin: 137.6875px 9px;
  -ms-perspective-origin: 137.6875px 9px;
  perspective-origin: 137.6875px 9px;
  -webkit-transform-origin: 137.6875px 9px;
  -ms-transform-origin: 137.6875px 9px;
  transform-origin: 137.6875px 9px;
  border: 0px none #282828;
  font: normal normal normal normal 14px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-FORM_54 {
  color: #282828;
  height: 18px;
  width: 275.390625px;
  -webkit-perspective-origin: 137.6875px 9px;
  -ms-perspective-origin: 137.6875px 9px;
  perspective-origin: 137.6875px 9px;
  -webkit-transform-origin: 137.6875px 9px;
  -ms-transform-origin: 137.6875px 9px;
  transform-origin: 137.6875px 9px;
  border: 0px none #282828;
  font: normal normal normal normal 14px/14px Arial, sans-serif;
  margin: 0px;
  outline: #282828 none 0px;
}
#pd-SPAN_55 {
  color: #282828;
  border: 0px none #282828;
  font: normal normal bold normal 14px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-SELECT_56 {
  height: 18px;
  min-height: 0px;
  width: 112px;
  -webkit-perspective-origin: 56px 9px;
  -ms-perspective-origin: 56px 9px;
  perspective-origin: 56px 9px;
  -webkit-transform-origin: 56px 9px;
  -ms-transform-origin: 56px 9px;
  transform-origin: 56px 9px;
  border: 0px none #000;
  border-radius: 0px 0px 0px 0px;
  margin: 0px 0px 0px 30px;
}
#pd-OPTION_57,
#pd-OPTION_58,
#pd-OPTION_60 {
  cursor: default;
  height: auto;
  min-height: 13.1999998092651px;
  width: auto;
  -webkit-align-self: center;
          align-self: center;
  -ms-flex-item-align: center;
  -webkit-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  font: normal normal normal normal 11px/normal '.HelveticaNeueDeskInterface-Regular';
}
#pd-OPTION_59 {
  cursor: default;
  height: auto;
  min-height: 13.1999998092651px;
  width: auto;
  -webkit-align-self: center;
          align-self: center;
  -ms-flex-item-align: center;
  -webkit-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  font: normal normal normal normal 11px/normal '.HelveticaNeueDeskInterface-Regular';
}
#pd-P_61 {
  color: #282828;
  height: 21px;
  text-decoration: underline;
  width: 275.390625px;
  -webkit-perspective-origin: 137.6875px 10.5px;
  -ms-perspective-origin: 137.6875px 10.5px;
  perspective-origin: 137.6875px 10.5px;
  -webkit-transform-origin: 137.6875px 10.5px;
  -ms-transform-origin: 137.6875px 10.5px;
  transform-origin: 137.6875px 10.5px;
  border: 0px none #282828;
  font: normal normal normal normal 14px/21px Arial, sans-serif;
  margin: 0px;
  outline: #282828 none 0px;
}
#pd-TABLE_62 {
  border-collapse: collapse;
  color: #282828;
  height: 69px;
  width: 275px;
  -webkit-perspective-origin: 137.5px 34.5px;
  -ms-perspective-origin: 137.5px 34.5px;
  perspective-origin: 137.5px 34.5px;
  -webkit-transform-origin: 137.5px 34.5px;
  -ms-transform-origin: 137.5px 34.5px;
  transform-origin: 137.5px 34.5px;
  border: 0px none #282828;
  font: normal normal normal normal 14px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-TBODY_63 {
  border-collapse: collapse;
  color: #282828;
  height: 69px;
  width: 275px;
  -webkit-perspective-origin: 137.5px 34.5px;
  -ms-perspective-origin: 137.5px 34.5px;
  perspective-origin: 137.5px 34.5px;
  -webkit-transform-origin: 137.5px 34.5px;
  -ms-transform-origin: 137.5px 34.5px;
  transform-origin: 137.5px 34.5px;
  border: 0px none #282828;
  border-spacing: 2px 2px;
  font: normal normal normal normal 14px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-TD_71 {
  border-collapse: collapse;
  color: #5a5a5a;
  height: 14px;
  text-align: right;
  vertical-align: top;
  width: 124px;
  -webkit-perspective-origin: 62px 11.5px;
  -ms-perspective-origin: 62px 11.5px;
  perspective-origin: 62px 11.5px;
  -webkit-transform-origin: 62px 11.5px;
  -ms-transform-origin: 62px 11.5px;
  transform-origin: 62px 11.5px;
  border: 0px none #5a5a5a;
  border-spacing: 2px 2px;
  font: normal normal normal normal 12px/normal Arial;
  outline: #5a5a5a none 0px;
  padding: 5px 0px 4px;
}
#pd-DL_76 {
  color: #282828;
  float: left;
  height: 132px;
  width: 565px;
  -webkit-perspective-origin: 283.5px 67px;
  -ms-perspective-origin: 283.5px 67px;
  perspective-origin: 283.5px 67px;
  -webkit-transform-origin: 283.5px 67px;
  -ms-transform-origin: 283.5px 67px;
  transform-origin: 283.5px 67px;
  border: 1px solid #eaeaea;
  font: normal normal normal normal 11.8999996185303px/14px Arial, sans-serif;
  margin: 0px 0px 20px;
  outline: #282828 none 0px;
  overflow: hidden;
}
#pd-DL_76:after {
  border-collapse: collapse;
  clear: both;
  color: #282828;
  display: table;
  width: 1px;
  -webkit-perspective-origin: 0.5px 0px;
  -ms-perspective-origin: 0.5px 0px;
  perspective-origin: 0.5px 0px;
  -webkit-transform-origin: 0.5px 0px;
  -ms-transform-origin: 0.5px 0px;
  transform-origin: 0.5px 0px;
  content: '';
  border: 0px none #282828;
  font: normal normal normal normal 11.8999996185303px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-DL_76:before {
  border-collapse: collapse;
  color: #282828;
  display: table;
  width: 1px;
  -webkit-perspective-origin: 0.5px 0px;
  -ms-perspective-origin: 0.5px 0px;
  perspective-origin: 0.5px 0px;
  -webkit-transform-origin: 0.5px 0px;
  -ms-transform-origin: 0.5px 0px;
  transform-origin: 0.5px 0px;
  content: '';
  border: 0px none #282828;
  font: normal normal normal normal 11.8999996185303px/14px Arial, sans-serif;
  margin: 20px 0px 0px;
  outline: #282828 none 0px;
}
#pd-DT_77 {
  clear: left;
  color: #282828;
  float: left;
  height: 15px;
  text-align: center;
  width: 140px;
  -webkit-perspective-origin: 72px 9.5px;
  -ms-perspective-origin: 72px 9.5px;
  perspective-origin: 72px 9.5px;
  -webkit-transform-origin: 72px 9.5px;
  -ms-transform-origin: 72px 9.5px;
  transform-origin: 72px 9.5px;
  background: #fff none repeat scroll 0% 0%/auto padding-box border-box;
  border: 0px none #282828;
  font: normal normal bold normal 11.8999996185303px/normal Arial, sans-serif;
  margin: 0px 0px 5px;
  outline: #282828 none 0px;
  overflow: hidden;
  padding: 2px;
}
#pd-P_78 {
  color: #282828;
  height: 34px;
  text-align: center;
  width: 140px;
  -webkit-perspective-origin: 70px 17px;
  -ms-perspective-origin: 70px 17px;
  perspective-origin: 70px 17px;
  -webkit-transform-origin: 70px 17px;
  -ms-transform-origin: 70px 17px;
  transform-origin: 70px 17px;
  border: 0px none #282828;
  font: normal normal bold normal 11.8999996185303px/17.8499984741211px Arial, sans-serif;
  margin: 0px;
  outline: #282828 none 0px;
}
#pd-DD_79 {
  clear: right;
  color: #282828;
  float: right;
  height: 15px;
  text-align: center;
  width: 415px;
  -webkit-perspective-origin: 207.5px 7.5px;
  -ms-perspective-origin: 207.5px 7.5px;
  perspective-origin: 207.5px 7.5px;
  -webkit-transform-origin: 207.5px 7.5px;
  -ms-transform-origin: 207.5px 7.5px;
  transform-origin: 207.5px 7.5px;
  border: 0px none #282828;
  font: normal normal bold normal 11.8999996185303px/14px Arial, sans-serif;
  margin: 0px 0px 5px;
  outline: #282828 none 0px;
}
#pd-DD_79:after {
  border-collapse: collapse;
  clear: both;
  color: #282828;
  display: table;
  text-align: center;
  width: 1px;
  -webkit-perspective-origin: 0.5px 0px;
  -ms-perspective-origin: 0.5px 0px;
  perspective-origin: 0.5px 0px;
  -webkit-transform-origin: 0.5px 0px;
  -ms-transform-origin: 0.5px 0px;
  transform-origin: 0.5px 0px;
  content: '';
  border: 0px none #282828;
  font: normal normal bold normal 11.8999996185303px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-DD_79:before {
  border-collapse: collapse;
  color: #282828;
  display: table;
  text-align: center;
  width: 1px;
  -webkit-perspective-origin: 0.5px 0px;
  -ms-perspective-origin: 0.5px 0px;
  perspective-origin: 0.5px 0px;
  -webkit-transform-origin: 0.5px 0px;
  -ms-transform-origin: 0.5px 0px;
  transform-origin: 0.5px 0px;
  content: '';
  border: 0px none #282828;
  font: normal normal bold normal 11.8999996185303px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-P_80 {
  color: #282828;
  height: 17px;
  text-align: center;
  width: 415px;
  -webkit-perspective-origin: 207.5px 8.5px;
  -ms-perspective-origin: 207.5px 8.5px;
  perspective-origin: 207.5px 8.5px;
  -webkit-transform-origin: 207.5px 8.5px;
  -ms-transform-origin: 207.5px 8.5px;
  transform-origin: 207.5px 8.5px;
  border: 0px none #282828;
  font: normal normal bold normal 11.8999996185303px/17.8499984741211px Arial, sans-serif;
  margin: 0px;
  outline: #282828 none 0px;
}
#pd-DT_81,
#pd-DT_91 {
  clear: left;
  color: #282828;
  float: left;
  height: 30px;
  text-align: right;
  width: 140px;
  -webkit-perspective-origin: 72px 17px;
  -ms-perspective-origin: 72px 17px;
  perspective-origin: 72px 17px;
  -webkit-transform-origin: 72px 17px;
  -ms-transform-origin: 72px 17px;
  transform-origin: 72px 17px;
  background: #fff none repeat scroll 0% 0%/auto padding-box border-box;
  border: 0px none #282828;
  font: normal normal normal normal 11.8999996185303px/normal Arial, sans-serif;
  margin: 0px 0px 10px;
  outline: #282828 none 0px;
  overflow: hidden;
  padding: 2px;
}
#pd-P_82,
#pd-P_92 {
  color: #282828;
  height: 17px;
  text-align: right;
  width: 140px;
  -webkit-perspective-origin: 70px 8.5px;
  -ms-perspective-origin: 70px 8.5px;
  perspective-origin: 70px 8.5px;
  -webkit-transform-origin: 70px 8.5px;
  -ms-transform-origin: 70px 8.5px;
  transform-origin: 70px 8.5px;
  border: 0px none #282828;
  font: normal normal normal normal 11.8999996185303px/17.8499984741211px Arial, sans-serif;
  margin: 0px;
  outline: #282828 none 0px;
}
#pd-DD_83,
#pd-DD_93 {
  clear: right;
  color: #282828;
  float: right;
  height: 30px;
  width: 415px;
  -webkit-perspective-origin: 207.5px 15px;
  -ms-perspective-origin: 207.5px 15px;
  perspective-origin: 207.5px 15px;
  -webkit-transform-origin: 207.5px 15px;
  -ms-transform-origin: 207.5px 15px;
  transform-origin: 207.5px 15px;
  border: 0px none #282828;
  font: normal normal normal normal 11.8999996185303px/14px Arial, sans-serif;
  margin: 0px 0px 10px;
  outline: #282828 none 0px;
}
#pd-DD_83:after,
#pd-DD_93:after {
  border-collapse: collapse;
  clear: both;
  color: #282828;
  display: table;
  width: 1px;
  -webkit-perspective-origin: 0.5px 0px;
  -ms-perspective-origin: 0.5px 0px;
  perspective-origin: 0.5px 0px;
  -webkit-transform-origin: 0.5px 0px;
  -ms-transform-origin: 0.5px 0px;
  transform-origin: 0.5px 0px;
  content: '';
  border: 0px none #282828;
  font: normal normal normal normal 11.8999996185303px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-DD_83:before,
#pd-DD_93:before {
  border-collapse: collapse;
  color: #282828;
  display: table;
  width: 1px;
  -webkit-perspective-origin: 0.5px 0px;
  -ms-perspective-origin: 0.5px 0px;
  perspective-origin: 0.5px 0px;
  -webkit-transform-origin: 0.5px 0px;
  -ms-transform-origin: 0.5px 0px;
  transform-origin: 0.5px 0px;
  content: '';
  border: 0px none #282828;
  font: normal normal normal normal 11.8999996185303px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-DIV_84,
#pd-DIV_86,
#pd-DIV_94,
#pd-DIV_96 {
  color: #282828;
  float: left;
  height: 20px;
  -webkit-perspective-origin: 0px 10px;
  -ms-perspective-origin: 0px 10px;
  perspective-origin: 0px 10px;
  -webkit-transform-origin: 0px 10px;
  -ms-transform-origin: 0px 10px;
  transform-origin: 0px 10px;
  border: 0px none #282828;
  font: normal normal normal normal 11.8999996185303px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-DIV_85,
#pd-DIV_95 {
  color: #282828;
  height: 20px;
  -webkit-perspective-origin: 0px 10px;
  -ms-perspective-origin: 0px 10px;
  perspective-origin: 0px 10px;
  -webkit-transform-origin: 0px 10px;
  -ms-transform-origin: 0px 10px;
  transform-origin: 0px 10px;
  border: 0px none #282828;
  font: normal normal normal normal 11.8999996185303px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-DIV_87,
#pd-DIV_97 {
  color: #282828;
  height: 20px;
  -webkit-perspective-origin: 0px 10px;
  -ms-perspective-origin: 0px 10px;
  perspective-origin: 0px 10px;
  -webkit-transform-origin: 0px 10px;
  -ms-transform-origin: 0px 10px;
  transform-origin: 0px 10px;
  background: #719e32 none repeat scroll 0% 0%/auto padding-box border-box;
  border: 0px none #282828;
  font: normal normal normal normal 11.8999996185303px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-DIV_88 {
  color: #282828;
  float: left;
  height: 20px;
  width: 314px;
  -webkit-perspective-origin: 157px 10px;
  -ms-perspective-origin: 157px 10px;
  perspective-origin: 157px 10px;
  -webkit-transform-origin: 157px 10px;
  -ms-transform-origin: 157px 10px;
  transform-origin: 157px 10px;
  border: 0px none #282828;
  font: normal normal normal normal 11.8999996185303px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-DIV_89 {
  color: #282828;
  height: 20px;
  width: 314px;
  -webkit-perspective-origin: 157px 10px;
  -ms-perspective-origin: 157px 10px;
  perspective-origin: 157px 10px;
  -webkit-transform-origin: 157px 10px;
  -ms-transform-origin: 157px 10px;
  transform-origin: 157px 10px;
  background: #719e32 none repeat scroll 0% 0%/auto padding-box border-box;
  border: 0px none #282828;
  font: normal normal normal normal 11.8999996185303px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-P_90,
#pd-P_100 {
  color: #282828;
  float: left;
  height: 14px;
  text-align: right;
  width: 13.25px;
  -webkit-perspective-origin: 8.625px 9px;
  -ms-perspective-origin: 8.625px 9px;
  perspective-origin: 8.625px 9px;
  -webkit-transform-origin: 8.625px 9px;
  -ms-transform-origin: 8.625px 9px;
  transform-origin: 8.625px 9px;
  background: #fff none repeat scroll 0% 0%/auto padding-box border-box;
  border: 0px none #282828;
  font: normal normal normal normal 11.8999996185303px/normal Arial, sans-serif;
  margin: 0px;
  outline: #282828 none 0px;
  overflow: hidden;
  padding: 2px;
}
#pd-DIV_98 {
  color: #282828;
  float: left;
  height: 20px;
  width: 70px;
  -webkit-perspective-origin: 35px 10px;
  -ms-perspective-origin: 35px 10px;
  perspective-origin: 35px 10px;
  -webkit-transform-origin: 35px 10px;
  -ms-transform-origin: 35px 10px;
  transform-origin: 35px 10px;
  border: 0px none #282828;
  font: normal normal normal normal 11.8999996185303px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-DIV_99 {
  color: #282828;
  height: 20px;
  width: 70px;
  -webkit-perspective-origin: 35px 10px;
  -ms-perspective-origin: 35px 10px;
  perspective-origin: 35px 10px;
  -webkit-transform-origin: 35px 10px;
  -ms-transform-origin: 35px 10px;
  transform-origin: 35px 10px;
  background: #719e32 none repeat scroll 0% 0%/auto padding-box border-box;
  border: 0px none #282828;
  font: normal normal normal normal 11.8999996185303px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-DIV_101 {
  color: #282828;
  float: left;
  height: 63px;
  width: 612px;
  -webkit-perspective-origin: 306px 31.5px;
  -ms-perspective-origin: 306px 31.5px;
  perspective-origin: 306px 31.5px;
  -webkit-transform-origin: 306px 31.5px;
  -ms-transform-origin: 306px 31.5px;
  transform-origin: 306px 31.5px;
  border: 0px none #282828;
  font: normal normal normal normal 14px/14px Arial, sans-serif;
  outline: #282828 none 0px;
}
#pd-P_102,
#pd-P_104,
#pd-P_106 {
  color: #282828;
  height: 21px;
  width: 612px;
  -webkit-perspective-origin: 306px 10.5px;
  -ms-perspective-origin: 306px 10.5px;
  perspective-origin: 306px 10.5px;
  -webkit-transform-origin: 306px 10.5px;
  -ms-transform-origin: 306px 10.5px;
  transform-origin: 306px 10.5px;
  border: 0px none #282828;
  font: normal normal normal normal 14px/21px Arial, sans-serif;
  margin: 0px;
  outline: #282828 none 0px;
}
#pd-A_103,
#pd-A_105 {
  background-position: 0px -617px;
  color: #005eb8;
  text-decoration: none;
  background: rgba(0,0,0,0) url("http://assets.blackrock.com/blk-one-assets/cache-1432957948000/include/common/css/blk/i/sprite_icons.png") no-repeat scroll 0px -617px/auto padding-box border-box;
  border: 0px none #005eb8;
  font: normal normal normal normal 14px/21px Arial, sans-serif;
  outline: #005eb8 none 0px;
  padding: 0px 0px 0px 10px;
}
#pd-A_107 {
  background-position: 0px -617px;
  color: #005eb8;
  text-decoration: none;
  background: rgba(0,0,0,0) url("http://assets.blackrock.com/blk-one-assets/cache-1432957948000/include/common/css/blk/i/sprite_icons.png") no-repeat scroll 0px -617px/auto padding-box border-box;
  border: 0px none #005eb8;
  font: normal normal normal normal 14px/21px Arial, sans-serif;
  outline: #005eb8 none 0px;
  padding: 0px 0px 0px 10px;
}
#pd-DIV_108 {
  color: #5a5a5a;
  width: 612px;
  -webkit-perspective-origin: 306px 2.5px;
  -ms-perspective-origin: 306px 2.5px;
  perspective-origin: 306px 2.5px;
  -webkit-transform-origin: 306px 2.5px;
  -ms-transform-origin: 306px 2.5px;
  transform-origin: 306px 2.5px;
  border: 0px none #5a5a5a;
  font: normal normal normal normal 12px/14px Arial, sans-serif;
  outline: #5a5a5a none 0px;
  padding: 5px 0px 0px;
}
html,
body {
  margin: 0;
  padding: 0;
  border: none;
  background: #fff;
}
#gkc {
  min-width: 615px;
  width: 100%;
  max-width: 1000px;
}
#gkc #chart {
  margin-top: 25px;
}
#gkc a {
  cursor: pointer;
}
#gkc .highcharts-input-group {
  display: none;
}
#gkc form label {
  width: 185px;
  display: block;
  margin-bottom: 5px;
}
#gkc form label select {
  width: 96px;
  float: right;
}
#gkc #returns,
#gkc #distro {
  display: none;
}
#gkc td {
  text-align: right;
}
#gkc .row-head {
  text-align: left;
}
#gkc .component-tabs {
  margin-top: 0;
}
#gkc .start-hidden {
  display: none;
}
#gkc.gkc-index ul.sub-tabs {
  padding-left: 5px;
}
#gkc.gkc-index li.growth a {
  border: 0px;
  padding-right: 0px;
}
#gkc.gkc-index li.histnav {
  display: none;
}
#gkc.gkc-index form #index-chart-options label {
  width: 300px;
}
#gkc.gkc-index form #index-chart-options label select {
  width: 216px;
}
.gkc-ucits form {
  display: none;
}
.gkc-ucits.returns form {
  display: block;
}
#gkc #index-chart-options label {
  width: 220px;
}
#gkccc-DIV_1 {
  display: none;
  width: 166px;
  margin: 0 0 0 auto;
  position: relative;
  height: 231px;
  margin-bottom: -195px;
}
#gkc_TABLE_1 {
  width: 100%;
}
#gkc_TABLE_1 tbody .col-0 {
  min-width: 167px;
}
.andprices {
  display: none;
}
#pd-DIV_2,
#pd-DL_76 {
  display: none;
}
#pd-A_38,
#pd-A_43,
#pd-A_66,
#pd-A_70,
#pd-A_74 {
  display: none;
}
.as-of-date {
  font-size: 0.9em;
  margin: 0;
}
#pd-DIV_1 {
  margin-top: 20px;
  height: auto;
}
td#pd-TD_37,
td#pd-TD_42,
td#pd-TD_47,
td#pd-TD_50,
td#pd-TD_65,
td#pd-TD_69,
td#pd-TD_73 {
  text-align: left;
}
.component-tabs {
  padding-left: 0;
}

 /*# sourceMappingURL=master.css.map */